@charset "utf-8";

form * {
	background: transparent;
}

input[type=text],input[type=password],input[type=submit],input[type=email],input[type=url],input[type=tel],input[type=number],input[type=datetime],textarea,button, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: white;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 5px;
	margin: 0;
	margin-bottom: 5px;
}

/*body	{
	margin-top: 50px;
	background: #2B313B;
	background: url(noisetexture.png), -webkit-linear-gradient(#475161,#2B313B) no-repeat, #2B313B;
	background: url(noisetexture.png), -moz-linear-gradient(#475161,#2B313B) no-repeat, #2B313B;
	background: url(noisetexture.png), -o-linear-gradient(#475161,#2B313B) no-repeat, #2B313B;
	background: url(noisetexture.png), -ms-linear-gradient(#475161,#2B313B) no-repeat, #2B313B;
	background: url(noisetexture.png), linear-gradient(#475161,#2B313B) no-repeat, #2B313B;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475161', endColorstr='#2B313B',GradientType=0 );
}
*/


 #frmCourse {
	font: normal .8em/1em Arial, Helvetica, Geneva, sans-serif;
	width: 130%;
	margin: 0 auto;
	margin-top:0px;
	margin-left:80px;
	max-width: 500px;
	background: url(images/greytexture.jpg) #DDD;
	background:hsla(0,0%,100%,1.00)

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;


	-webkit-box-shadow: 10px 10px 20px #20242C;
	-moz-box-shadow: 10px 10px 20px #20242C;
	box-shadow: 10px 10px 20px #20242C;
}

#frmCourse fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

#frmCourse fieldset:before {
	content:attr(title);
	display: block;
	padding: 0;
	padding: 20px 10px 3px 10px;
	font-weight: bold;
	font-size: 1.25em;
	color: #777;
	margin: 0 auto;
	text-shadow: 1px 1px 1px #FFF;
}

#frmCourse legend {
	display: none;
}

#frmCourse ol {
	margin: 0px;
	padding: 0px;
}
 
#frmCourse ol li {
	position: relative;
	list-style: none;
	padding: 8px;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #888;
}

#frmCourse ol li:first-child {
	border-top:none;
}

#frmCourse ol li:last-child {
	border-bottom:none;
}

#frmCourse ol li ol li {
	padding-bottom: 0;
	display: inline;
	padding: 0px;
	border-top: none;
	border-bottom: none;
}

#frmCourse ol li ol li label {
	font-weight: normal;
	display: inline;
	cursor: pointer
}

#frmCourse ol li.singleline label {
	font-weight: normal;
	display: inline;
}

#frmCourse ol li label, .grouphead {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	color: #454D4D;
	text-shadow: 1px 1px 1px #FFF;
	padding-left: 5px;
}

#frmCourse ol li input, #frmCourse textarea {
	display: block;
	width: 96%;
	padding: 5px;
	margin: 0 auto;	
	outline: none;
	border: 1px solid #999;

	background: #CCCCCC;
	background: -webkit-linear-gradient(#FFFFFF,#DDDDDD) no-repeat;
	background: -moz-linear-gradient(#FFFFFF,#BBBBBB) no-repeat;
	background: -o-linear-gradient(#FFFFFF,#BBBBBB) no-repeat;
	background: -ms-linear-gradient(#FFFFFF,#BBBBBB) no-repeat;
	background: linear-gradient(#FFFFFF,#BBBBBB) no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#BBBBBB',GradientType=0 );

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#frmCourse ol li ol li input {
	width: auto;
	display: inline;
}

#frmCourse ol li input[type="checkbox"] {
	width: auto;
	display: inline;
}

#frmCourse textarea {
	height: 75px;
}

#frmCourse ol li select {
	width: 300px;
	width: 100%;
	min-width: 100px;	
	color: #EEE;
	font-weight: bold;
	border: 0;

	background: #1A446C;
	background: -webkit-linear-gradient(##1A446C,#6D2F0E);
	background: -moz-linear-gradient(##1A446C,#6D2F0E);
	background: -o-linear-gradient(##1A446C,#6D2F0E);
	background: -ms-linear-gradient(##1A446C,#6D2F0E);
	background: linear-gradient(##1A446C,#6D2F0E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='##1A446C', endColorstr='#6D2F0E',GradientType=0 );

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#frmCourse button {
	width: 100px;
	width: 20%;
	min-width: 100px;
 	height: 24px;
	float: right;
	padding: 0;
	margin-right: 10px;
	margin-top: 5px;
	border: 0;
	color:#FFF;
	font-weight: bold;
	cursor: pointer;
	
	background: #466E82;
	background: url(arrows.png) no-repeat right top, #466E82;
	background: url(arrows.png) no-repeat right top, -webkit-linear-gradient(#466E82,#2C4552);
	background: url(arrows.png) no-repeat right top, -moz-linear-gradient(#466E82,#2C4552);
	background: url(arrows.png) no-repeat right top, -ms-linear-gradient(#466E82,#2C4552);
	background: url(arrows.png) no-repeat right top, -o-linear-gradient(#466E82,#2C4552);
	background: url(arrows.png) no-repeat right top, linear-gradient(#466E82,#2C4552);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#466E82', endColorstr='#2C4552',GradientType=0 );
	

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#frmCourse button:hover {
	background: url(arrows.png) no-repeat right top, #93481A;
	background: url(arrows.png) no-repeat right top, -webkit-linear-gradient(#93481A,#6D2F0E);
	background: url(arrows.png) no-repeat right top, -moz-linear-gradient(#93481A,#6D2F0E);
	background: url(arrows.png) no-repeat right top, -ms-linear-gradient(#93481A,#6D2F0E);
	background: url(arrows.png) no-repeat right top, -o-linear-gradient(#93481A,#6D2F0E);
	background: url(arrows.png) no-repeat right top, linear-gradient(#93481A,#6D2F0E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93481A', endColorstr='#6D2F0E',GradientType=0 );
}
*/